// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.formHeader {
  background-color: #5184d6;
  text-align: center;
  font-size: 2.5em;
  padding: 3% 3%;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  font-family: 'Raleway';
  letter-spacing: 2px;
  margin-bottom: .5em;
}

.form {
  box-sizing: border-box;
  color: black;
  display: grid;
  justify-content: center;
  input {
    margin: 2px 2px;
    padding: 10px 2px;
    width: 90%;
    background-color: white;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px dotted gray;
  }
  input[type=date] {
    padding: 3px;
  }
  input[type=submit] {
    display: inline-block;
    margin: 20px auto;
    padding: 10px 30px;
    border: none;
    font-size: 1.3em;
    color: white;
    background-color: #5184d6;
    border-radius: 4px;
    transition: all .5s;
  }
  input[type=submit]:hover {
    background-color: #415c73;
  }
  input[type=submit]:active {
    background-color: green;
  }
}
