// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form {
  box-sizing: border-box;
  color: black;
  display: grid;
  min-width: 150px;
  justify-content: center;
  input {
    margin: 2px 2px;
    padding: 10px 2px;
    width: 90%;
    background-color: white;
    font-size: 1.2em;
    border: none;
    border-bottom: 1px dotted gray;
  }
  input[type=date] {
    padding: 3px;
  }
  input[type=submit] {
    display: inline-block;
    margin: 20px auto;
    padding: 2px 30px;
    border: 2px outset gray;
    font-size: 1.3em;
  }
}
